:root,
    :root.light {
        --bg-color: #FFFFFF;
        --fg-color: #003459;
    }

    :root.dark {
        --bg-color: #003459;
        --fg-color: #FFFFFF;
    }

:root {
    --light-blue: #00A8E8;
    --blue: #007EA7;
    --navy-blue: #003459;
    --dark-blue: #00171F;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Fira Code", serif;
    font-size: 1vh;

    background-color: var(--bg-color);
    color: var(--fg-color);
}
.main {
    display: grid;
    grid-template-areas:
        ". nav ."
        ". profile ."
        ". divider ."
        ". work .";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3vh;

    background-color: var(--bg-color);
    color: var(--fg-color);

    justify-items: center;
}

.nav {
    grid-area: nav;

    margin-top: 1vh;
    display: grid;
    grid-template-areas:
    "nav-logo . nav-gallery nav-contact . nav-mode-button";
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr;  

    align-items: center;
    justify-items: center;
}

.nav-logo {
    grid-area: nav-logo;
}

.nav-button {
    padding: 1vh;
}

.nav-gallery {
    grid-area: nav-gallery;
}

.nav-contact {
    grid-area: nav-contact;
}

.nav-mode-button {
    grid-area: nav-mode-button;
}

.nav-button a {
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.mode-button {
    width: 2.75vh;
    height: 2.75vh;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}

.mode-button img {
    height: 2.5vh;
    transform: rotate(20deg);
    object-fit: cover;
}

.mode-button.light {
    display:  none;
}

.dark .mode-button.light {
    display: inline;
    background-color: #FFFFFF;
}

.dark .mode-button.dark {
    display:  none;
}

.divider {
    grid-area: divider;
    text-align: center;
}

.flash-card {
    display: grid;
    grid-template-areas:
        "image text";
    grid-template-columns: 1fr 1fr;
    gap: 2.5vw;
    align-items: center;
    justify-items: center;
}

.text {
    grid-area: text;
}

.image {
    grid-area: image;
}

.profile {
    grid-area: profile;
}

.flash-card > .image img {
    height: 25vh;
    border-radius: 50%;
}

.work {
    display: grid;
    grid-area: work;
    grid-template-areas:
        "photography programing"
        "editing .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh;

    background-color: var(--fg-color);
    color: var(--bg-color);

    border: 5px solid var(--fg-color);
    border-radius: 25px;
    padding: 25px;
}

.work-card {
    display: grid;
    grid-template-areas:
        ". image ."
        ". text .";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .1fr;

    padding: 5px;
}

.work-card > .image img {
    height: 3vh;
}

.work-card > .text li {
    margin-left: 20px;
}

.photography {
    grid-area: photography;
}

.programing {
    grid-area: programing;
}

.editing {
    grid-area: editing;
}