:root,
    :root.light {
        --bg-color: #FFFFFF;
        --fg-color: #003459;
    }

    :root.dark {
        --bg-color: #003459;
        --fg-color: #FFFFFF;
    }

:root {
    --light-blue: #00A8E8;
    --blue: #007EA7;
    --navy-blue: #003459;
    --dark-blue: #00171F;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Fira Code", serif;
    font-size: 1vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-color);
    color: var(--fg-color);
}

.main {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.nav {
    margin-top: 1vh;
    /*background-color: var(--dark-bg-color);*/
    width: 60vw;
    display: flex;
    justify-content: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40vw;
    margin: 1vh;
}

.nav-logo {
    margin-right: 20vw;
}

.nav-button {
    width: 5vw;
    padding: 1vh;
}

.nav-button a {
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.nav-button button {
    margin-left: 30vw;
}

.mode-button {
    width: 2.75vh;
    height: 2.75vh;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}

.mode-button img {
    height: 2.5vh;
    transform: rotate(20deg);
    object-fit: cover;
}

.mode-button.light {
    display:  none;
}

.dark .mode-button.light {
    display: inline;
    background-color: #FFFFFF;
}

.dark .mode-button.dark {
    display:  none;
}

.flash-card {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 30vh;
    margin-top: 5vh;
}

.items {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
    align-items: center;
}

.item {
    margin: 2.5vh;
}

.item img {
    height: 25vh;
    border-radius: 50%;
}
