:root,
    :root.light {
        --bg-color: #FFFFFF;
        --fg-color: #003459;
    }

    :root.dark {
        --bg-color: #003459;
        --fg-color: #FFFFFF;
    }

body {
    margin: 0;
    padding: 0;

    font-family: "Fira Code", serif;
    font-size: 0.75vh;

    background-color: var(--bg-color);
    color: var(--fg-color);
}
.main {
    display: grid;
    grid-template-areas:
        ". nav ."
        ". profile ."
        ". divider ."
        ". work ."
        ". footer .";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3vh;

    background-color: var(--bg-color);
    color: var(--fg-color);

    justify-items: center;
}

.nav {
    grid-area: nav;

    margin-top: 1vh;
    display: grid;
    grid-template-areas:
    "nav-logo nav-gallery nav-contact nav-mode-button";
    grid-template-columns: 1fr 1fr 1fr 1fr;  

    gap: 14vh;

    align-items: center;
    justify-items: center;
}

.nav-logo {
    grid-area: nav-logo;
}

.nav-button {
    padding: 1vh;
}

.nav-gallery {
    grid-area: nav-gallery;
}

.nav-contact {
    grid-area: nav-contact;
}

.nav-mode-button {
    grid-area: nav-mode-button;
}

.nav-button a {
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.nav-logo img {
    height: 7.5vh;
    border-radius: 25px;
}

.logo.light {
    display: none;
}

.dark .logo.light {
    display: inline;
    background-color: #FFFFFF;
}

.dark .logo.dark {
    display: none;
}

.mode-button {
    width: 2.8vh;
    height: 2.8vh;
    cursor: pointer;
    border: none;
    background-color: #003459;
    border-radius: 50%;
}

.mode-button img {
    height: 1.5vh;
    transform: rotate(20deg);
    object-fit: cover;
}

.mode-button.light {
    display:  none;
}

.dark .mode-button.light {
    display: inline;
    background-color: #FFFFFF;
}

.dark .mode-button.dark {
    display:  none;
}

.divider {
    grid-area: divider;
    text-align: center;
    transition: 150ms;
}

.divider:hover {
    font-size: 40px;
}

.flash-card {
    display: grid;
    grid-template-areas:
        "image text";
    grid-template-columns: 1fr 1fr;
    gap: 2.5vw;
    align-items: center;
    justify-items: center;
}

.text {
    grid-area: text;
}

.image {
    grid-area: image;
}

.profile {
    grid-area: profile;
}

.flash-card > .image img {
    height: 30vh;
    border-radius: 50%;
    transition: 150ms;
}

.flash-card>.image img:hover {
    height: 40vh;
}

.work {
    display: grid;
    grid-area: work;
    grid-template-areas:
        "photography programing"
        "editing sport";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh;

    background-color: var(--fg-color);
    color: var(--bg-color);

    border: 5px solid var(--fg-color);
    border-radius: 25px;
    padding: 25px;
}

.work-card {
    display: grid;
    grid-template-areas:
        ". image ."
        ". text .";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .1fr;

    padding: 5px;
}

.work-card > .image img {
    height: 3vh;
}

.work-card > .text li {
    margin-left: 20px;
}

.photography {
    grid-area: photography;
}

.programing {
    grid-area: programing;
}

.editing {
    grid-area: editing;
}

.sport {
    grid-area: sport;
}

.footer {
    display: grid;
    grid-area: footer;
    grid-template-areas:
        "footer-logo . privacy cookies";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vh;

    padding: 5px;
}

.footer-logo {
    grid-area: footer-logo;
}

.footer a {
    text-decoration: underline;
    color: var(--fg-color);

}

.footer a:hover {
    text-decoration: none;
}

.privacy {
    grid-area: privacy;
}

.cookies {
    grid-area: cookies;
}